body {
    background-color: rgb(250, 248, 248);
}
#img {
    display: flex;
    margin: 10px auto;
    width: 30%;
}

.legend {
    text-align: center;
    margin-bottom: 15px;
}

.contenido-formulario {
    display: grid;
    justify-content: center;
}

.label {
    text-align: center;
    margin-bottom: 5px;
}

.boton {
    display: flex;
    margin: 5px auto;
    width: 7%;
    margin-top: 20px;
    background-color: azure;
    border: solid 1px gray;
    border-radius: 2px;
}

.error {
    background-color: rgb(171, 10, 10);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
    color: white;
    padding: 4px;
}