

.producto {
    display: flex;
    justify-content: left;
    border: solid 1px black;
    height: 12em;
    margin: 1em auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: 10px;
}

.producto:hover {
    background-color: rgb(228, 227, 227);
}

 #imagen {
    width: 15em;
}
 
.pContenido {
    margin-top: .2em;
    margin-left: .3em;
    font-size: 20px;
}

#pDes {
    font-size: 16px;
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}

.sub-titulo {
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
}

.sp {
    font-weight: bold;
}

.vendidos {
    display: flex;
    font-size: 15px;
    padding-top: 70px;
}

.precioYbuscar {
    display: flex;
    justify-content: center;
    gap: 370px;
    margin-right: 7em;
    margin-left: 110px;
}



#precioMin, #precioMax {
    width: 90px;
}

#btnFiltrar, #btnPrecioMax, #btnPrecioMin, #relevancia {
    background-color: white;
    border: 1px solid black;
}

.orden_precio {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 7em;
    margin-bottom: 5px;
}

.flechita {
    width: 20px;
}

.productos {
    padding: 0; 
    border: none; 
    background: none;
    width: 100%;
}

